

*{
    box-sizing: border-box;
    padding: 0;
margin: 0;

}
html ,body{
    scroll-behavior: smooth;
}
#about .container img{
    width: 15rem;
    margin-top: 110px;
}
 p{
    font-size: 20px;
}


.skill{
    background-color: #f2f5fc;
  
}
.box-skill{
    position: relative;
    
    
}
.skill::before{ 
    

    content: "";
    width: 100%;
    height: 10vh;
    position: absolute;
    background-color: #fff;
    top: 0px;
    clip-path: ellipse(50% 100% at 50% 0%);
}
.box-gallery{
    position: relative;
    padding-top: 45px;
    
}
.gallery::before{ 
    

    content: "";
    width: 100%;
    height: 10vh;
    position: absolute;
    background-color: #f2f5fc;
    top: 0px;
    clip-path: ellipse(50% 100% at 50% 0%);
}
.skill i{
   color: white;
    border-radius: 50%;
}
.gallery h3{
    color: black;
  
}

.card-body{
    display: none;
}
.hover-blue{
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(2, 92, 229);
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 700;
  }
  .hover-blue:hover .overlay {
    opacity: 0.85;
  }     
.gallery a {
   border-radius: 25px;
}
.contact{
    margin-top: 85px;
}
.grid-2{
    width: 55%;
}
.grid-2-items{
     box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
     margin: 2.23rem;
}
.skill-foot{
    background-color: #212832;
    
}
.skill-foot::before{ 
    

    content: "";
    width: 100%;
    height: 10vh;
    position: absolute;
    background-color: #f2f5fc;
    top: 0px;
    clip-path: ellipse(50% 100% at 50% 0%);
}
.skill-foot .in-container{
  
    border-bottom: solid 2px rgb(128, 126, 126);
   overflow: hidden;
}

@media(max-width:767px){
    .card-body{
        display: inline;
    }
}
